# General
export DATABASE_MONGODB_DBNAME=
export AZURE_STORAGE_ACCOUNT_NAME=
export EXTERNAL_API_URL=
export AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
export DATABASE_MONGODB_URI=

# MS Users
export JWT_SECRET=
export JWT_AUDIENCE=
export JWT_ISSUER=

# API Gateway
export API_GATEWAY_CONFIG=
export SERVICES_SUFFIX=
export AUTH_JWT_SECRET=