# ms-templates
export MS_TEMPLATES_AZURE_STORAGE_ACCOUNT_NAME=
export MS_TEMPLATES_AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
export MS_TEMPLATES_AZURE_STORAGE_ACCOUNT_ACCESS_KEY=

# ms-certificate
export MS_CERTIFICATE_AZURE_STORAGE_ACCOUNT_NAME=
export MS_CERTIFICATE_AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
export MS_CERTIFICATE_AZURE_STORAGE_CONTAINER_NAME=

# API Gateway
export API_GATEWAY_CONFIG=$(cat ./api-config.yaml | base64)
