#ms-templates
export MS_TEMPLATES_AZURE_STORAGE_ACCOUNT_NAME=chegaai
export MS_TEMPLATES_AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
export MS_TEMPLATES_AZURE_STORAGE_CONTAINER_NAME=templates

# ms-certificate
export MS_CERTIFICATE_AZURE_STORAGE_ACCOUNT_NAME=chegaai
export MS_CERTIFICATE_AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
export MS_CERTIFICATE_AZURE_STORAGE_CONTAINER_NAME=certificates

# ms-profile
export MS_PROFILE_AZURE_STORAGE_ACCOUNT_NAME=chegaai
export MS_PROFILE_AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
export MS_PROFILE_AZURE_STORAGE_CONTAINER_NAME=profile

# ms-events
export MS_EVENTS_AZURE_STORAGE_ACCOUNT_NAME=chegaai
export MS_EVENTS_AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
export MS_EVENTS_AZURE_STORAGE_CONTAINER_NAME=events

# ms-groups
export MS_GROUPS_AZURE_STORAGE_ACCOUNT_NAME=chegaai
export MS_GROUPS_AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
export MS_GROUPS_AZURE_STORAGE_CONTAINER_NAME=groups

# API Gateway
export API_GATEWAY_CONFIG=$(cat ./api-config.yaml | base64)
