[submodule "ms-events"]
	path = ms-events
	url = git@gitlab.com:chega.ai/ms-events.git
[submodule "ms-users"]
	path = ms-users
	url = git@gitlab.com:chega.ai/ms-users.git
[submodule "ms-groups"]
	path = ms-groups
	url = git@gitlab.com:chega.ai/ms-groups.git
[submodule "ms-templates"]
	path = ms-templates
	url = git@gitlab.com:chega.ai/ms-templates.git
