[submodule "ms-events"]
	path = ms-events
	url = git@github.com:chegaai/ms-events.git
[submodule "ms-users"]
	path = ms-users
	url = git@github.com:chegaai/ms-users.git
[submodule "ms-groups"]
	path = ms-groups
	url = git@github.com:chegaai/ms-groups.git
[submodule "ms-templates"]
	path = ms-templates
	url = git@github.com:chegaai/ms-templates.git
[submodule "ms-certificate"]
	path = ms-certificate
	url = git@github.com:chegaai/ms-certificate.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:chegaai/api-gateway.git
[submodule "ms-profiles"]
	path = ms-profiles
	url = git@github.com:chegaai/ms-profiles.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:chegaai/frontend.git
[submodule "ms-cfp"]
	path = ms-cfp
	url = git@github.com:chegaai/ms-cfp.git
