@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
:root {
  --green: #56bc77;
  --pink: #e6549e;
  --yellow: #f2b341;
  --red: #ef4244;
  --blue: #18104a;
  --white: #ededed;
  --black: #202020;
  --content-padding-x: 45px;
  --content-spacing: 10px;
  --default-border-radius: 6px;
  --content-max-width: 40%;
  --default-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--default-font);
  background-color: var(--blue);
  color: var(--black);
  margin: 0 !important;
  display: flex;
  align-items: center;
  height: 100vh;
}

.title {
  padding: var(--content-spacing) 0 0 var(--content-padding-x);
  font-weight: bold;
}

.content {
  font-weight: light;
  margin: 0 var(--content-padding-x) var(--content-spacing) var(--content-padding-x);
}

.content-container {
  background-color: white;
  border-radius: var(--default-border-radius);
  max-width: var(--content-max-width);
  padding: 0;
  margin: 0 0 0 2%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > input, textarea {
  padding: 10px;
  margin: var(--content-spacing) var(--content-padding-x) var(--content-spacing) var(--content-padding-x);
  border-radius: var(--default-border-radius);
  box-shadow: none;
  border: 2px solid var(--white);
  font-family: var(--default-font);
  font-size: 11pt;
}

.form > label {
  margin-top: var(--content-spacing);
  padding-left: var(--content-padding-x);
}

.submit-button {
  background-color: var(--green);
  margin: var(--content-spacing) var(--content-padding-x) 20px var(--content-padding-x);
  padding: 10px;
  font-family: var(--default-font);
  border: none;
  border-radius: var(--default-border-radius);
  color: white;
  font-size: 11pt;
}

.logo {
  width: 20%;
}